*{
  margin: 0; padding: 0; box-sizing: border-box;
}
.main_div{
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}
.center_div{
  width: 25%;
  height: 75%;
  border:3px solid gray;
  border-radius: 20px;
  background-color: aliceblue;
}

h1{
  font-weight: bold;
  width: 100%;
  background-color: blueviolet;
  margin: 17px auto;
  text-align: center;
  color: aliceblue;
  font-size: 3.5rem;
}

.add-item-btn {
  background-color: blueviolet;
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 0;
  border-radius: 50%;
}
.add-item-btn:hover{
  background-color: #4CAF50;
}
.item-container{
  margin: 5px 1px;
}

.delete-item-btn {
  background-color: rgb(151, 202, 12);
  border: none;
  color: white;
  padding: 0 6px;
  text-align: center;
  text-decoration: none;
  display: block;
  float: left;
  font-size: 20px;
  border-radius:50%;
}
.delete-item-btn:hover{
  background-color: #9e0909;
}

input{
  font-size: 1.5rem;
  text-align: center;
  width: 50%;
  margin: 0 2em 1.5em 1em;
  outline: 0;
  border-width: 0 0 2px;
  border-color: blue
}
input:focus {
  border-color: green
}

li{
  list-style: none;
  font-size: 1.3em;
}
@media screen and (max-width : 1050px) {
  .center_div{
    width: 50%;
  }
}
@media screen and (max-width : 1050px) and (max-height : 800px) {
  .center_div{
    width: 30%;
  }
}
@media screen and (max-width : 900px) {
  .center_div{
    width: 35%;
  }
}
@media screen and (max-width : 780px) {
  .center_div{
    width: 60%;
  }
}
@media screen and (max-width : 440px) {
  .center_div{
    width: 85%;
  }
}
@media screen and (max-width : 300px) {
  .center_div{
    width: 95%;
  }
}
